@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root{
  font-size:62.5%;
  --color-primary:#effced;
  --color-secundary:#edfce6;
  --color-third:#dbf7d5;
  --color-primary-dark:#462700;
  font-family: 'Montserrat', sans-serif;
}


body{
  width: 100%;
  background: var(--color-primary);
  font-size: 1.7rem;
  background-image: url('../images/planta06.png');
  background-position: right;
  background-size: cover;
  background-attachment:fixed;
  
  
}

/*---MENU DE NAVEGAÇÃO---*/

.container-header--nav_ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 2rem 0 1rem;
  width: 100%; 
  background-color: var(--color-secundary);
}

.container-header--nav_ul li{
  list-style-type: none;
}

.container-header--nav_ul li a{
  text-decoration: none;
  color: var(--color-primary-dark);
  font-weight: 600;
}

/*---BANNER HOME---*/

.container-header_banner{
  width: 100%;
  height: 30rem;
  background-image: url('../images/banner03.png');
  background-size: cover;
  background-position: center;
}

/*---SECTION DAS PLANTAS---*/

.plantas h1{
text-align: center;
margin-top:8rem;
padding-bottom:2rem;
font-weight: 700;
font-size: 3rem;
}

.plantas_ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 4rem;
}

.plantas_ul li{
  list-style-type: none;
}

.plantas p{
  font-weight: 600;
}

/*---SECTION DE SERVIÇOS---*/
.servicos {
  text-align: center;
  margin: 5rem 10rem; 
}

.servicos h1{
  padding-bottom: 2rem;
}

.servicos_ul{
  display: flex;
  flex-direction: row;
  justify-content:center; 
  gap:40px;
}

.servicos_ul li{
  list-style-type: none;
}

.servicos_ul p{
  text-align: justify;
}

/*---RODAPE---*/

.background-rodape{
  width: 100%;
  height:5rem;
}


